
.logo {
   width:150px;
   height: 150px;
   align-self: center;
}
#koden {
   display: flex;
   flex-direction: column;
   text-align: center;
}

button {
   font-family: "permanent marker", helvetica, sans-serif;
   background-color: rgba(255, 255, 255, 0);
   border-radius: 5px;
   border: 2.5px solid  #3b3b3d;
   color: #3b3b3d;
}

input {
   background-color: #ffffff00;
   border: 3px solid #3b3b3d;
   border-radius: 5px;
}
p {
   font-size: calc(0,5rem + 0,5vw);
   color: #3b3b3d;
   text-decoration: none;
} 
.mainSection{
   text-align: center;
   max-width: 400px;
   align-self: center;
   padding:10px;
   
}
.rover {
   border:2px dotted #3b3b3d;
}

body {
   font-family: "permanent marker", verdana, sans-serif;
   flex-direction: column;
   display:flex;
   background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
   background-size: cover;
   min-height: 100vh;
   color:#3b3b3d;
   padding:10px;
}
   h1 {
   font-size: calc(1rem + 1vw);
   text-align: center;
}
