.logo {
   width:150px;
   height: 150px;
   align-self: center;
}
p {
   font-size: calc(0,5rem + 0,5vw);
} 
.mainSection{
   text-align: center;
   max-width: 400px;
   align-self: center;
}
body {
   display:flex;
   font-family: "permanent marker", verdana, sans-serif;
   flex-direction: column;
}
   h1 {
   font-size: calc(1rem + 2vw);
   text-align: center;
}
#koden {
   display: flex;
   flex-direction: column;
   text-align: center;

button {
   font-family: "permanent marker", helvetica, sans-serif;
}

